.main {
    max-width: 1440px;
    height: 783px;
    margin: 0 auto ;
    background-color: black;
    position: relative;
    top: -15px;
}

.flex-wrapper{
   position: relative;
   top: 157px;
   display: flex;
   margin: 0 auto;
   width: 1171px;
   
}

.slider-wrapper {
    max-width: 800px;
    width: 100%;
    height: 490px;
    position: relative;
}

.description {
    width: 442px;
    margin-right: 50px;
}

.description p {
    line-height: 27px;
    width: 442px;
}

.char {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.char  div {
    width: 130px;
}

h2, h3 {
    color: #E3B873;
}

p {
    color: white;
}

#next {
    left: auto;
    right: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    left: 0;
    transition: all ease 1s;
}

.slide.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

.dots-wrapper{
    display: flex;
    margin: 0 30px 0 30px;
}

.dot.active {
    background-color: white;
}

span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 18px;
    cursor: pointer;
}

span:last-child {
    margin-right: 0;
}

.button {
    position: absolute;
    display: flex;
    width: 122px;
    top: 450px;
}

.projects {
    position: absolute;
    display: flex;
    left: 500px;
    top: -50px;
    font-size: 14px;
    line-height: 19px;
}

.projects p {
    margin:  0 61px 30px 0 ;
    color: rgba(255, 255, 255, 0.3);
}

.projects p:hover {
    color: #E3B873;
    text-decoration: underline;
}

.active {
    transition: all ease 1s;
}